#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;
Comment[es_MX]=Convierte multiples formatos de archivos de consolas a CHD con Zenity
Comment=Convierte multiples formatos de archivos de consolas a CHD con Zenity
Exec='/home/handerson/Scripts/Multiconversor_a_CHD.sh'
GenericName[es_MX]=
GenericName=
Icon=media-optical
MimeType=
Name[es_MX]=Multiconversor de Archivos a CHD
Name=Multiconversor de Archivos a CHD
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
